.product-thumbnail-page{
	padding: 10px;
    background: #ebebeb;
}
.product-thumbnail-page .card-title{
	color: #4e518c;
	font-size:20px;
}
.product-thumbnail-page h1{
	margin-bottom: 30px;
}
.product-thumbnail-page .mb-5{
	margin-bottom: 5px !important;
}
.product-thumbnail-page .card{
	margin-bottom: 30px;
}
.product-thumbnail-page .card-subtitle{
	color: #4e518c;
}
.product-thumbnail-page .card-subtitle b{
	color: #000;
}
.product-thumbnail-page ul li{
	color: #4e518c;
}

.product-thumbnail-page .tabs-design{
	background-color: #c5e09b;
	color: #000;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 15px;
}
.product-thumbnail-page .tabs-design.active{
    background-color: #7aba01;
    color: #000;
}
.product-thumbnail-page .filter {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}
.product-thumbnail-page .heading-left-side {
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #8a8686;
    color: #8a8686;
    font-weight: bold;
    margin-top: 15px;
}
.list  {
	list-style: none;
  }
.box{
	height: 510px;
}
.card-img, .card-img-bottom{
	width: 86%;
    background: #eeee;
    margin: 15px;
}
.footer p{
	text-align: center;
	font-size:20px;
}